/* styles for my resume */
/* gray, open sans text for the entire body of the website. */
body{
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    color:#444;
    font-weight:400;
}
#container {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
/* centers my name in uppercase on page. */
#name {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color:#33485e;
    border-bottom: 1px solid #33485e;
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
}
.menu {
    padding: 0;
    margin: 0;
    text-align: center;
}
.menu li {
    display: inline;
}
/* makes my title a different color in uppercase. */
#title {
    color:#33485e;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600px;
    text-align: center;
    margin-top: 20;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0px;
}
/* changes section titles for visual division */
.sectionheader {
    font-size: 1.5em;
    text-transform: uppercase;
    background-color:#33485e ;
    color: white;
    font-weight:400;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: 70%;
    min-width: 300px;
}
/* emphasizes job title in unique size. */
.jobtitle {
    font-weight:600;
    font-size: 1.5em;

}
/* emphasizes organization in unique size. */
.organization{
    font-weight:400;
    font-size: 1.25em;
}
/* emphasizes dates in unique size and font style. */
.date {
    font-weight:400;
    font-style: italic;
    font-size: 1em;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
/* makes listed info a unique size. */
ul{
    font-size: 1em;
}
#degrees {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#do{
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.top{
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 0;
}
/* done */